<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interview Scheduled</title>
</head>
<body>
    <h1>Hello {{name}}</h1>
    <p>{{message}}</p>
    <p>Please send a mail to this email address to confirm your availability for the stated date and time.</p>
</body>
</html>